
<% layout('layout/boilerplate') -%>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/navbar.css">') %>
<% block('head').append('<link crossorigin="anonymous" rel="stylesheet" href="../stylesheet/news.css">') %>

    <%- include('partials/navbar') %>
    <section id="news">
        <div class="container">
            <p><%-success  %></p>
            <div class="news-subtitle">
                <p class="tab-links active-links" onclick="opentab('Latest')">Latest News</p>
                <p class="tab-links" onclick="opentab('Popular')">Most Popular</p>
            </div>
        
            <div class="tab-content active-tabs" id="Latest">
            <% for( let art of Articles) { %>
                
            <article class="news-item">
                <div class="news-image">
                <img src="<%-art.imageUrl  %>" alt="Work Permit Policies">
            </div>
            <div class="news-content">
                <h2><%-art.title  %></h2>
                <span class="news-date"><%-art.date  %></span>
                <p><%-art.content  %>
                    <p class="tags"><%-art.tags  %>    
                    <!-- </p>
                    <p>The government agency said the rise was due to administrative and processing costs.
                    </p>
                    <p>“The cards that non-EU nationals carry are sophisticated and have a high cost as well,” a spokesperson added.
                     -->
                    <!-- Previously, an application for a single work permit cost applicants €280.50</p> -->
                    <a href="https://timesofmalta.com/article/identita-increases-work-permit-fees-noneu-workers.1077309">Read more</a>
                    <div>
                        <div class="edit-delete">
                    <a class="edit" href="news/<%-art._id%>/edit ">Edit</a>
                    <form action="news/<%-art._id%>/delete?_method=delete" method="post"> 
                        <button class="delete">Delete</button>
                     </form>
                    </div>
                </div>
                </div>
           
        </article>
        <% } %>
    </div>
        <div class="tab-content" id="Popular">
            <h1>Popular News</h1>
            <article class="news-item">
                
                <div class="news-image">
                <img src="../f39e3c34e6e6cff416032f999221149bcb973b0d-1704905295-3dada337-960x640.jpg" alt="Work Permit Policies">
            </div>
            <div class="news-content">

                <h2>Identità increases work permit fees for non-EU workers</h2>
                <span>23/06/2024</span>
                <p>Workers from outside the EU will now have to pay €300 to apply for a permit to work in Malta, after Identità increased its work permit fees. 

                    </p>
                    <p>The government agency said the rise was due to administrative and processing costs.
                    </p>
                    <p>“The cards that non-EU nationals carry are sophisticated and have a high cost as well,” a spokesperson added.
                    
                    Previously, an application for a single work permit cost applicants €280.50</p>
                    <a href="https://timesofmalta.com/article/identita-increases-work-permit-fees-noneu-workers.1077309">Read more</a>
            </div>
            
        </article>
      
            
            <article class="news-item">
               
                    <div class="news-image">
                    <img src="../skillcard.jpeg" alt="Work Permit Policies">
                </div>
                <div class="news-content">

                    <h2>Skills card for foreign workers postponed until March</h2>
                    <span>23/06/2024</span>
                    <p>The introduction of a skills card for foreigners seeking jobs in the tourism industry has been postponed from January until the end of March to enable it to be fine-tuned, Tourism Minister Clayton Bartolo has said.
                      </p>
                      <p>
                        In October, the government announced that non-EU workers seeking employment in hotels, bars and restaurants must hold a skills card to work in the tourism industry in 2024, with plans to expand the skills card as a requirement for Maltese and EU workers in 2025.
                    </p>
                        <p>The scheme would bind third-country nationals applying for a work visa in Malta’s tourism industry to pass a skills assessment before their application can be processed.
                    </p>
                    <a href="https://timesofmalta.com/article/skills-card-foreign-workers-postponed-march.1074888">Read more</a>
                </div>
                
            </article>
           
            <article class="news-item">
                <div class="news-image">
                    <img src="../skillcard carers.jpeg" alt="Tax Regulations">
                </div>
                <div class="news-content">
                    <h2>Foreign carers of elderly people will need a skills card</h2>
                    <span>23/06/2024</span>
                    <p>Foreign carers hired to look after the elderly will soon need to obtain a skills card to work in the sector, Active Aging Minister Jo Etienne Abela said on Friday. 

                        <p>This requirement would improve the quality of workers in the sector and reduce ‘bureaucracy’ in the method of employing them, he told the media.</p>
                        
                        <p>“The engagement of carers - whether Maltese, Gozitan, or third country nationals - will be at the centre of our operations this year,” he said.</p> 
                        
                        <p>An increase in life expectancy over recent years has similarly seen an increase in demand for carers attending to elderly citizens. Many families have shared stories of the struggles of employing a live-in carer, including long waiting lists and endless paperwork. 
                        </p>
                        <p>
                        “We will be using the model of the skills card. We are going to create a parallel system that will see to every condition and measure, such as language and skills.”</p> 
                        <a href="https://timesofmalta.com/article/watch-foreign-carers-elderly-people-need-skills-card-learn-maltese.1076478">Read more</a>
                </div>
                
            </article>
            <article class="news-item">
                
                <div class="news-image">
                <img src="../0ce6430717fa9fcba5e5501fb6f74ed0b541b1bb-1673893347-67fe13ef-960x640.jpeg" alt="Work Permit Policies">
            </div>
            <div class="news-content">
                
                
    
                <h2>Non-EU workers increase tenfold in a decade to top 50,000</h2>
                <span>23/06/2024</span>
                <p>The number of non-EU workers in Malta increased tenfold in a decade, figures tabled in parliament on Monday show.
    
                    </p>
                    <p>In 2011, fewer than 5,000 foreigners from beyond the EU's frontiers were working in Malta. The number increased to over 50,000 people by August 2022.
                    </p>
                    <p>Answering a parliamentary question by PN MP Ivan Castillo, Employment Minister Clyde Caruana said 52,664 citizens from third countries were registered to work in Malta and Gozo on a full-time and part-time basis as of last August.
                    </p>
                    JobsPlus figures show that in 2011, 4,695 TCNs were working in Malta. That number gradually increased to 14,116 in 2017 and has continued to rise ever since, increasing even throughout the COVID-19 pandemic.</p>
                    <a href="news-details.html">Read more</a>
            </div>
            
        </article>
    </div>
        </div>
    </section>
<footer>
    <div class="footer">
        <p>&copy; 2024 Expats in Malta. All rights reserved.</p>
    </div>
</footer>
<script src="../javascript/news.js"></script>


